snippet vue
	<template>
	  <div></div>
	</template>

	<script lang="js">
	export default {
		$0
	}
	</script>

	<style lang="less" scoped>

	</style>

snippet vue3
	<template>
	  <div></div>
	</template>

	<script setup lang="ts">
	$0
	</script>

	<style lang="scss" scoped>

	</style>

snippet pr
	new Promise((resolve, reject) => {
		$0
	})

snippet /**
	/**
	 *
	 * $0
	 *
	 */
